$min_width: 320px;
$max_width : 1640px;
$max_width_container : 1024px;


$laptop: 1024px;
$tablet: 768px;
$mobileL: 426px;
$mobileS :375px;
$mobile :320px;


$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
